body {
    background:#373737; 
    font-family: Garamond;
    font-size: 13pt;
    color: #DDDDDD;
}

.center {
    text-align: center;
}

a:link, a:visited {
    text-decoration: none;
    color: #AAAAAA; 
}

a:hover, a:active {
    text-decoration: none;
    color: #656565;
}

a.logo {
    color: #373737; 
}

img {
}

img.left {
    float: left;
    margin: 1em 1em 0 0;
}

img.right {
    float: right;
    margin: 1em 0 0 1em;
}

#navigation {
    font-family: Helvetica;
    font-size: 16pt;
    text-align: right;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    top: 75px;
}

#navigation li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#navigation #selected a {
    color: #FFFFFF;
}

#navigation a:link, #navigation a:visited {
    text-decoration: none;
    color: #757575; 
}

#navigation a:hover, #navigation a:active {
    text-decoration: none;
    color: #FFFFFF;
}

#navigation a:link, #navigation a:visited {
    text-decoration: none;
    color: #757575; 
}

#navigation a:hover, #navigation a:active {
    text-decoration: none;
    color: #FFFFFF;
}

.biography {
    padding-bottom: 75px;
}

.contact {
    font-size: 16pt;
    text-align: center;
    margin-top: 120px;
}

.services {
    width: 540px;
    background: #474747;
    border: #222222 solid 1px;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 1em;
}

.section {
    /*
    background: #474747;
    border: #222222 solid 1px;
    */
    padding-top: 25px;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.section h3 {
    border-bottom: #DDDDDD solid 1px;
    text-align: right;
    margin: 0 10px 25px 25px;
    padding-bottom: 5px;
}

.date {
    margin-right: 9px;
    text-align: right;
}

.info {
    margin-left: 9px;
    margin-bottom: 15px;
}

.instructors th {
    font-style: italic;
    font-weight: normal;
    text-align: right;
}

.instructors td {
  padding-left: 20px;
}

#pdf-link {
    font-family: Helvetica;
    font-size: 10pt;
    text-align: right;
    margin: 0 10px 0 25px;
    padding: 0;
    top: 75px;
}

#pdf-link a:hover, #pdf-link a:active {
    text-decoration: none;
    color: #FFFFFF;
}

.icon {
  width: 16px;
  height: 10px;
}

.icon-file {
  fill: #AAAAAA;
}

.video-container {
  margin: 0 10px 50px 25px;
}

video {
  margin-bottom: 50px;
}

.video-right {
  padding-left: 45px;
  text-align: right;
}

.video-player {
  margin-top: 10px;
}
