body {
    background:#373737; 
    font-family: Palatino Linotype;
    color: #FFFFFF;
}

a:link, a:visited {
    text-decoration: none;
    color: #757575; 
}

a:hover, a:active {
    text-decoration: none;
    color: #FFFFFF;
}

img {
}

img.left {
    float: left;
    margin: 1em 1em 0 0;
}

#navigation {
    font-family: Helvetica;
    font-size: 16pt;
    text-align: right;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    top: 75px;
}

#navigation li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#navigation #selected a {
    color: #FFFFFF;
}
